.block {
    width: 1500px;
    background-color: darkslategrey;
    margin: 0 auto;
    padding: 20px;
}

body {
    background-color: #222222;
}

img {
    width: 500px;
    margin-left: 450px;

}

h1 {
    color: antiquewhite;
    text-align: center;
}

h2 {
    text-align: center;
    color: burlywood;
}

p {
    text-align: center;
}